<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, :placeholder => "enter time in minutes" %>
  </div>
  <fieldset>
    <legend>Timetable</legend>
    <%#  AT THE MOMENT THERE IS ONLY ONE TIMESLOT  %>
    <% if @time=@test.timetables.first then %>
      <!-- EDIT EXISTING TIMETABLE-->
      <%= hidden_field(:timetable, :id, :value=>@time.id ) %>
      <%= datetime_field(:timetable, :start, :value=>@time.start) %>
      <%= text_field(:timetable, :slots, :placeholder => "enter the number of places", :value=>@time.slots ) %>
    <%else%>
    <!-- CREATE NEW TIMETABLE -->
      <%= datetime_field(:timetable, :start) %>
      <%= text_field(:timetable, :slots, :placeholder => "enter the number of places" ) %>

    <% end %>
      

  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
