

<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <p> Here you can suggest your question. </p> 
 <%= f.label :content %><br>
 <%= f.text_field :content %> 

 <div class="field">
 <%= f.label :difficulty %>
 
 <%= f.select(:difficulty, options_for_select(["easy","medium","hard"])) %> 
</div> 


 <div class="field"> 
  <%= f.label :label %>
  <%= select_tag(:labels ,options_from_collection_for_select(Label.all, :id, :name) )%> 


</div>



<fieldset id="answers">
    <legend>answers</legend>
    <button onclick="addInput()"  type="button">Add answer</button><br/>
    <%#  AT THE MOMENT THERE IS ONLY ONE TIMESLOT  %>
    <% if @answers=@question.answers and !@question.answers.empty? then 
          @answers.each do |answer|
      %>
      <!-- EDIT EXISTING TIMETABLE-->
              <%= hidden_field_tag 'answer[][id]' ,answer.id  %>
              <%# text_field(:answer, :content, :placeholder => "enter the answer", :value=>answer.content ) %>
              <%= text_field_tag 'answer[][content]' , answer.content %>
              <%= check_box_tag 'answer[][correct]', true, answer.correct %>
          <% end %>
    <%else%>
    <!-- CREATE NEW TIMETABLE -->
       <%= text_field_tag 'answer[][content]'%>
       <%= check_box_tag 'answer[][correct]', true %>
    <% end %>
      

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div> 


<% end %>


<script>
answers=$("#answers");
  inputs='<input type="text" name="answer[][content]" value="added with jquery"/> <input type="number" name="answer[][points]" /> <input type="checkbox" name="answer[][correct]" />';
function addInput(){
  answers.append(inputs);
}
</script>