<p id="notice"><%= notice %></p>

<p> <strong>Sugested question:</strong> 
	<%= @question.content %> </p>

<p> <strong>The difficulty of your question:</strong> 
	<%= @question.difficulty %> </p>

	<!-- <p> <strong>Label of your Question:</strong> 
		<% @question.labels_questions.each  do |labelq| %>
			<%= labelq.labels_questions.id  %>
			<% end %> 
			</p> -->

<p> <strong>Status:</strong> <%= @question.status %> </p>



<!-- <p>
  <strong>Difficulty:</strong>
  <%= @question.difficulty %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @question.status %>
</p> -->

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
