<p id="notice"><%= notice %></p>

<p>
  <strong>Registration date:</strong>
  <%= @attempt.registration_date %>
</p>

<p>
  <strong>Result:</strong>
  <%= @attempt.result %>
</p>

<p>
  <strong>Start:</strong>
  <%= @attempt.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @attempt.end %>
</p>

<p>
  <strong>Timetable:</strong>
  <%= @attempt.timetable_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @attempt.user_id %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
