<h1>Listing answer_in_attempts</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Attempt</th>
      <th>Chosen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_in_attempts.each do |answer_in_attempt| %>
      <tr>
        <td><%= answer_in_attempt.answer_id %></td>
        <td><%= answer_in_attempt.attempt_id %></td>
        <td><%= answer_in_attempt.chosen %></td>
        <td><%= link_to 'Show', answer_in_attempt %></td>
        <td><%= link_to 'Edit', edit_answer_in_attempt_path(answer_in_attempt) %></td>
        <td><%= link_to 'Destroy', answer_in_attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer in attempt', new_answer_in_attempt_path %>
