<h1>Listing question_pools</h1>

<table>
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Content</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @question_pools.each do |question_pool| %>
      <tr>
        <td><%= question_pool.difficulty %></td>
        <td><%= question_pool.content %></td>
        <td><%= question_pool.status %></td>
        <td><%= link_to 'Show', question_pool %></td>
        <td><%= link_to 'Edit', edit_question_pool_path(question_pool) %></td>
        <td><%= link_to 'Destroy', question_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question pool', new_question_pool_path %>
