<h1>Listing answer_pools</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Points</th>
      <th>Status</th>
      <th>Correct</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_pools.each do |answer_pool| %>
      <tr>
        <td><%= answer_pool.content %></td>
        <td><%= answer_pool.points %></td>
        <td><%= answer_pool.status %></td>
        <td><%= answer_pool.correct %></td>
        <td><%= link_to 'Show', answer_pool %></td>
        <td><%= link_to 'Edit', edit_answer_pool_path(answer_pool) %></td>
        <td><%= link_to 'Destroy', answer_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer pool', new_answer_pool_path %>
